@model MvcInterface.Models.Models.CreateMaterialViewModel


<div class="form-group">
    <input type="hidden" value="Book" asp-for="Type" class="form-control" />
</div>
<div class="form-group">
    Название
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group">
    Описание
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    Автор
    <input asp-for="Author" class="form-control" />
    <span asp-validation-for="Author" class="text-danger"></span>
</div>
<div class="form-group">
    Кол-во страниц
    <input asp-for="Pages" class="form-control" />
    <span asp-validation-for="Pages" class="text-danger"></span>
</div>