@model MvcInterface.Models.Models.EditMaterialViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EditMaterialViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Type" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (Model.Type != "Book")
            {
                <div class="form-group">
                    <label asp-for="URI" class="control-label"></label>
                    <input asp-for="URI" class="form-control" />
                    <span asp-validation-for="URI" class="text-danger"></span>
                </div>
            }
            @if (Model.Type == "Article")
            {
                <div class="form-group" style="@(Model.Type != "Article" ? "visibility:hidden" : "")">
                    <label asp-for="PublicationDate" class="control-label"></label>
                    <input @(Model.Type != "Article" ? "type='hidden'" : "") asp-for="PublicationDate" class="form-control" />
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
            }
            @if (Model.Type == "Video")
            {
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quality" class="control-label"></label>
                    <input asp-for="Quality" class="form-control" />
                    <span asp-validation-for="Quality" class="text-danger"></span>
                </div>
            }
            @if (Model.Type == "Book")
            {
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pages" class="control-label"></label>
                    <input asp-for="Pages" class="form-control" />
                    <span asp-validation-for="Pages" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

