<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XMLFile" value="..//..//..//..//..//DataFile.xml"/>
    <add key="defaultPageSize" value="30"/>
    <add key="InvalidCommand" value="_invalidCommand"/>
    <add key="CreateAccountCommand" value="_createAccount"/>
    <add key="LogInCommand" value="_login"/>
    <add key="LogOutCommand" value="_logout"/>
    <add key="CreateCourseCommand" value="_createCourse"/>
    <add key="CreateSkillCommand" value="_createSkill"/>
    <add key="CreateMaterialCommand" value="_createMaterial"/>
    <add key="GetSkillsCommand" value="_getSkills"/>
    <add key="GetMaterialsCommand" value="_getMaterials"/>
    <add key="GetCoursesCommand" value="_getCourses"/>
    <add key="GetAccountCourses" value="_getAccountCourses"/>
    <add key="AddSkillToCourseCommand" value="_addSkillToCourse"/>
    <add key="AddMaterialToCourseCommand" value="_addMaterialToCourse"/>
    <add key="AddCourseToAccountCommand" value="_addCourseToAccount"/>
    <add key="ShowAccountInfoCommand" value="_showAccountInfo"/>
    <add key="ChangeCourseStateCommand" value="_changeCourseState"/>
    <add key="ShowCourseInfoCommand" value="_showCourseInfo"/>
    <add key="ShowMaterialInfoCommand" value="_showMaterialInfo"/>
    <add key="PassMaterialCommand" value="_passMaterial"/>
    <add key="PassCourseCommand" value="_passCourse"/>
    <add key="PublishCourseCommand" value="_publishCourse"/>
    <add key="ShowAllCommands" value="_help"/>
    <add key="ExitCommand" value="_exit"/>
  </appSettings>
  <connectionStrings>
    <add name ="DbConnectionString" connectionString="Data Source=ADMINPC;Initial Catalog=EducationProjectDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>